name: CI CD Pipeline

on:
  push:
    branches: 
        - main



jobs:
    build:
        runs-on: ubuntu-latest
    
        steps:
        - name: Checkout code
        uses: actions/checkout@v2
    
        - name: Set up Go
        uses: actions/setup-go@v2
        with:
            go-version: '1.20'
    
        - name: Build the application
        run: go build -o taskmanager .
    
        - name: Run tests
        run: go test ./...
    
        - name: Archive build artifacts
        uses: actions/upload-artifact@v2
        with:
            name: taskmanager
